<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form class="banner__home">
        <ul class="style__list">
            <li class="login__list">
                <h2>Chat with {{ sender.username }}</h2>
            </li>
            <li class="login__list">
                <div class="serf">
                    <ul id="messageList" class="style__list">
                        {% for message in messages %}
                            <li class="{% if message['sender'] == username %}outgoing{% else %}incoming{% endif %}">
                                {{ message['message'] }}
                                <span class="time">{{ message['time'].split(' ')[1] }}</span>
                            </li>{% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </form>

    <form id="messageForm" method="POST" action="">
        <ul class="style__list">
            <li class="login__list">
                <input class="form__input" placeholder="Message" type="text" id="text" name="text" required>
            </li>
            <li class="login__list">
                <input class="input__submit" type="submit" value="Submit" id="submitButton">
            </li>
            <li class="login__list">
                <a href="/user/{{ username }}/show_messages" class="btm">Go back to the main menu</a>
            </li>
        </ul>
    </form>
</body>
</html>
