
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <form method="POST" class="banner__home">
        <ul class="style__list">
            <li class="login__list"> <h2>Login</h2></li>
            <li class="login__list"><input class="form__input" type="text" placeholder="Username" id="username" name="username" required></li>
            <li class="login__list"><input class="form__input" type="password" placeholder="Password" id="password" name="password" required></li>
            <li class="login__list"><input class="input__submit" type="submit" value="Submit" ></li>

        </ul>
    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>