<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <form class="banner__home">
        <ul class="style__list">
            <li class="login__list"> <h2>Incoming Messages</h2></li>
            <li class="login__list">
                <div id="messagesContainer" class="serf">
                    {% for name in sender_names %}
                        <a href="/user/{{username}}/show_messages/{{name.id}}" class="message-link">{{ name.firstname }} {{name.lastname}}</a>
                        <a href="/user/{{username}}/delete_messages/{{name.id}}" class = 'delete'>delete</a>
                    {% endfor %}
                </div>
            </li>
            <a href="/user/{{username}}" class="btm">Back to Home</a>
        </ul>
    </form>



</body>
</html>
